<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhyQzqbmsgRQQs8jxdKC3WH_nRPZYACH4</string>
	<key>GCM_SENDER_ID</key>
	<string>688632145485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infosec.smartCase</string>
	<key>PROJECT_ID</key>
	<string>smartcase-238506</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcase-238506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688632145485:ios:c4010363b5029393811e04</string>
</dict>
</plist>